<div class="center hero-unit">
	<h1>Welcome to the Membership Management App</h1>

	<h2>This is the home page for the
		<%= link_to "Membership Management", root_path %> application.
	</h2>

	<%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("opus-dei.png", alt: "Opus Dei"), 'http://opusdei.org/' %>



